<div class="text-center">
    <h1>ANGULAR</h1>
    <h2>TIC TAC TOE TAKE-HOME PROJECT</h2>
    <h4>FLORANTE PASCUAL | NOV 2021</h4>

    <h3>GAME SPECIFICATIONS</h3>

    <div class="text-left game-spec">
        <ol>
            <li>The game is played on a 3 by 3 grid of squares.</li>
            <li>One player is assigned the symbol "X" and the other player is assigned the symbol "O".</li>
            <li>Players take turns. On a player's turn they must put their symbol in an empty square.</li>
            <li>If a player has three of their symbol in a row, column or diagonal, they win the game.</li>
            <li>If no empty squares remain, and no player has won, then the game is declared a tie.</li>
        </ol>
    </div>

    <button routerLink="/tictactoe" class="btn">
        START
        <i class="fa fa-arrow-right"></i>
    </button>
</div>
